/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/
.container-fluid{
    background-color: #5FE8B4;
}

.title1{
    font-family: "Fuzzy Bubbles","Times New Roman" !important;
    font-weight: 600 !important;
    font-size: 69px !important;
    margin-bottom: 0px !important;
    position: relative !important;
    width: 150%;
    left: -25%;
}
.title1 span, p{
transition:all .69s ease-out;
color: #0B6342 !important;
box-sizing: border-box;
background-color: #5FE8B4;
}
.btn.btn-default, .btn.btn-color {
    background: #0B6342;
    color: #fff;
}
.centered-row{
    display: flex !important;
    flex-flow: row !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.half-width{
    width: 69%;
}

.frontendshowcase1{
    background-image: url("../images/portfolio/isthomepage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase2{
    background-image: url("../images/portfolio/ist_bus.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase22{
    background-image: url("../images/portfolio/ist_bus_detailed.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2000px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase23{
    background-image: url("../images/portfolio/nessaweb.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 3420px;
    height: auto;
    padding-top:41.463%;
}

.momwcenter{
    display: flex !important;
    flex-flow: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.navia:active, .navia:hover{
  color: #0B6342 !important;
  background-color: #19E396 !important;
  border-radius: 9px;
}
.navia:hover{
    background-color: #14B376 !important;
}

ul.navigation li a {
    padding: 12px 16px !important;
}
.navmom{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
    background-color: #5FE8B4;
}
.momofall{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 24px 36px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    top: 0px;
    left: 0px;
    z-index: 1;

}

.grid-container .col-md-12, footer, footer .col-md-3, footer .footertop,footer .container{
    z-index: 2 !important;
}

.framesmom{
    position: absolute;
    width: 169px;
    height: 99px;
    box-sizing: border-box;
    background-color: #5FE8B4;
    transform: rotate(320deg);
    top: 30px;
    left: 30px;
}
.frame:first-child{
    position: relative;
    left: 0px;
    top: 169px;
    width: 169px;
    height: 169px;
    background-color: #5FE8B4;
    z-index: 0;
    transition: all .34s ease-in;
    /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
    

}

@keyframes paint {
    0%{
        transform:translate(0,0px);
    }
    16%{
        transform:translate(0,0px);
    }
    31%{
     transform:translate(0,-169px);   
    }
    100%{
        transform:translate(200px,-169px);   
    }
}
.frame:last-child{
    position: relative;
    left: 200px;
    top: -169px;
    width: 169px;
    height: 169px;
    color: #5FE8B4;
    background-color: #5FE8B4;
    z-index: 1;
}
.framesmom img{
   /* animation: 3s ease-in-out 1s infinite paint;*/
    width: 69px !important;
    position: absolute;
    top:-169px;
    height: max-content !important;
    transition: all 1s ease-in;
}

.frame .cover{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:#5FE8B4;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .half-width {
      width:50% !important;
    }
  }

  @media screen and (max-width: 600px) {

    .framesmom{
        top: -69px;
        left: 0px;
    }
    .navmom{
        background-color: transparent;
    }

    .title1{
        font-size: 42px !important;
        margin: 0px auto !important;
        position: relative !important;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width:96%;
        left: -2%;
    }

    .custom_mob1{
        display: none;
    }

    .mobfullwidth{
        width: 100% !important;
    }

    .custom_mob2{
        display: flex !important;
        flex-flow: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .frontendshowcase1{
        background-image: url("../images/portfolio/ismailisimba_mob.webp");
        min-height: 5000px;
    }
    .frontendshowcase2{
        background-image: url("../images/portfolio/ist_bus_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase22{
        background-image: url("../images/portfolio/ist_bus_detailed_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase23{
        background-image: url("../images/portfolio/nessamob.webp");
        min-height: 3642px;
    }

    .navmom{
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }
  }
