/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/
body{
    background: #5FE8B4;
}
.dropdown a{
    text-decoration: none !important;
}

.title1{
    font-family: "Fuzzy Bubbles","Times New Roman" !important;
    font-weight: 600 !important;
    font-size: 69px !important;
    margin-bottom: 0px !important;
    position: relative !important;
    width: 150%;
    left: -25%;
}
.makitit, .hero p{
transition:all .69s ease-out;
color: #0B6342;
box-sizing: border-box;
background-color: transparent;
}
.btn.btn-default, .btn.btn-color {
    background: #0B6342;
    color: #fff;
}
.centered-row{
    display: flex !important;
    flex-flow: row !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.half-width{
    width: 69%;
}

.frontendshowcase1{
    background-image: url("../images/portfolio/isthomepage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase2{
    background-image: url("../images/portfolio/ist_bus.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase22{
    background-image: url("../images/portfolio/ist_bus_detailed.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2000px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase23{
    background-image: url("../images/portfolio/nessaweb.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 3420px;
    height: auto;
    padding-top:41.463%;
}

.momwcenter{
    display: flex !important;
    flex-flow: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.navia{
    color: #29634D !important;
    background-color: #5FE8B4 !important
  }

.navia:active{
  background-color: #19E396 !important;
  color: #0B6342 !important;
  border-radius: 9px;
}

ul.navigation li a.active {
    color: #29634D;
    text-decoration:wavy;
}
.navia:hover,.btn.btn-default:hover{
    background-color: #19E396 !important;
}

ul.navigation li a {
    padding: 12px 16px !important;
}
.navigation{
    background-color: #5FE8B4;
}
.navmom{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
    background-color: #5FE8B4;
}
.momofall{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 24px 36px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    top: 0px;
    left: 0px;
    z-index: 1;

}

.l3::before,.l3::after,.l2::before,.l2::after,.l1::before,.l1::after
{ border-left: none !important }

.grid-container .col-md-12, footer, footer .col-md-3, footer .footertop,footer .container{
    z-index: 2 !important;
}

footer{
    background: #f5f5f5;
}

.framesmom{
    width: 168px;
    position: absolute;
    left: 172px;
    height: 99px;
    box-sizing: border-box;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}
.frame:first-child{
    position: relative;
    left: 0px;
    top: 169px;
    width: 169px;
    height: 169px;
    background-color: transparent;
    z-index: 0;
    transition: all .34s ease-in;
    /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
    

}

a.naviatheme,.opt1,.opt2{
    display: flex !important;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.opt1,.opt2{
    box-sizing: border-box;
    padding: 1.69px 3px;
}

.opt1:hover,.opt2:hover{
    background-color: #0B6342;
}

.navoptions{
    background-color: transparent;
    border-left: .69px dotted #0B6342;
    width: 59%;
    box-sizing: border-box;
    font-size: 10px;
    text-transform: lowercase;
    font-weight: 700;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.opt1 img{
    background-color: transparent;
    background-image: url("../images/icons/darkmode.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}
.opt2 img{
    background-color: transparent;
    background-image: url("../images/icons/lightmode.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}
@keyframes paint {
    0%{
        transform:translate(0,0px);
    }
    16%{
        transform:translate(0,0px);
    }
    31%{
     transform:translate(0,-169px);   
    }
    100%{
        transform:translate(200px,-169px);   
    }
}
.frame:last-child{
    position: relative;
    left: 200px;
    top: -169px;
    width: 169px;
    height: 169px;
    color: #5FE8B4;
    background-color: transparent;
    z-index: 1;
}
.framesmom img{
   /* animation: 3s ease-in-out 1s infinite paint;*/
    width: 69px !important;
    position: absolute;
    top:-169px;
    height: max-content !important;
    transition: all 1s ease-in;
}

.frame .cover{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:transparent;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .half-width {
      width:50% !important;
    }
  }

  @media screen and (max-width: 600px) {

    .framesmom{
        top: -169px;
        left: 42px;
    }
    .navmom{
        background-color: transparent;
    }

    .title1{
        font-size: 42px !important;
        margin: 0px auto !important;
        position: relative !important;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width:96%;
        left: -2%;
    }

    .custom_mob1{
        display: none;
    }

    .mobfullwidth{
        width: 100% !important;
    }

    .custom_mob2{
        display: flex !important;
        flex-flow: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .frontendshowcase1{
        background-image: url("../images/portfolio/ismailisimba_mob.webp");
        min-height: 5000px;
    }
    .frontendshowcase2{
        background-image: url("../images/portfolio/ist_bus_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase22{
        background-image: url("../images/portfolio/ist_bus_detailed_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase23{
        background-image: url("../images/portfolio/nessamob.webp");
        min-height: 3642px;
    }

    .navmom{
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-trigger .bar,ul.navigation.tapped {
        background: #14B376;
    }

    ul.navigation.tapped::before{
        border-color: transparent transparent #14B376 transparent;
    }
  }
