/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/

.title1{
    font-family: "Fuzzy Bubbles","Times New Roman" !important;
    font-weight: 600 !important;
    font-size: 69px !important;
    margin-bottom: 0px !important;
    position: relative !important;
    width: 150%;
    left: -25%;
}
.title1 span{
transition:all .69s ease-out;
}

.centered-row{
    display: flex !important;
    flex-flow: row !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.half-width{
    width: 69%;
}

.frontendshowcase1{
    background-image: url("../images/portfolio/isthomepage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase2{
    background-image: url("../images/portfolio/ist_bus.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2696px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase22{
    background-image: url("../images/portfolio/ist_bus_detailed.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 2000px;
    height: auto;
    padding-top:41.463%;
}

.frontendshowcase23{
    background-image: url("../images/portfolio/nessaweb.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 3420px;
    height: auto;
    padding-top:41.463%;
}

.momwcenter{
    display: flex !important;
    flex-flow: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.navia:active, .navia:hover{
  color: #000000 !important;
  background-color: #ffffff !important;
  border-radius: 9px;
}

ul.navigation li a {
    padding: 12px 16px !important;
}
.navmom{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
    background-color: #000000;
}


@media screen and (min-width: 600px) {
    .half-width {
      width:50% !important;
    }
  }

  @media screen and (max-width: 600px) {

    .title1{
        font-size: 42px !important;
        margin: 0px auto !important;
        position: relative !important;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width:96%;
        left: -2%;
    }

    .custom_mob1{
        display: none;
    }

    .mobfullwidth{
        width: 100% !important;
    }

    .custom_mob2{
        display: flex !important;
        flex-flow: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .frontendshowcase1{
        background-image: url("../images/portfolio/ismailisimba_mob.webp");
        min-height: 5000px;
    }
    .frontendshowcase2{
        background-image: url("../images/portfolio/ist_bus_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase22{
        background-image: url("../images/portfolio/ist_bus_detailed_mob.webp");
        min-height: 3000px;
    }
    .frontendshowcase23{
        background-image: url("../images/portfolio/nessamob.webp");
        min-height: 3642px;
    }

    .navmom{
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }
  }
